.bg-login {
    background-image: url('/images/h.jpg'); /* Perbaiki jalur gambar */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-register {
    background-image: url('/images/h.jpg'); /* Pastikan jalur gambar benar */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-container {
    margin-top: 50px; /* Menambahkan jarak atas */
    padding: 20px; /* Menambahkan padding pada container */
    background-color: white; /* Warna background putih */
    border-radius: 8px; /* Membuat sudut melengkung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan shadow */
}

.head-nav {
    margin: 0 auto;

}

.crud {
    margin-left: 250px;
    width: 1100px;
}


.custom {
    width: 3000px;
    margin: 0 auto;
}

.mt-10 {
    margin-top: 2.5rem;
}
